@font-face {
font-family: GraublauWeb;
src: url("GraublauWeb-regular.otf") format("opentype");
}

@font-face {
font-family: GraublauWebb;
font-weight: bold;
src: url("GraublauWeb-bold.otf") format("opentype");
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}
body {
  line-height: 1;
  
}
ol,ul {
	list-style: none;
}
blockquote,q {
	quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-image: url("../images/dubai.jpg");
  /*background: #ffffff url("../img/bg_slice1.jpg") repeat-x scroll center top;*/
  color: /*#7b7b7b*/ #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
  margin: 0;
}
a {
	color: #4E4E50;
	text-decoration: none;
}
p {
	margin: 5px 0;
}
p,li {
	line-height: 1.35em;
}
label {
	white-space: nowrap;
} 
.table1 {
	width: 100%;
}
 
.table1 thead td, .table1 thead th {
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
}
.table1 tr td {
	padding: 10px 3px;
	vertical-align: top;
}
.table1 select {
	font-family: Verdana;
}
.table1.table-border tr td {
	border: 1px solid #D0D0D0;
	border-width: 1px 0;
}
.table1.table-hover tr:hover {
	background: #fefefe;
}
.table1 .form-control {
	width: 300px;
}
h5.show-detail {
	padding: 7px 0;
	text-align: center;
}
.table2 {
	background-color: #D8E5ED;
	width: 100%;
}
.table2 tr td {
	border-bottom: 1px solid #C8D1D7;
	padding: 5px;
}
.table2 tr:last-child {
	border-bottom: 0;
}
.table2 .stop-point {
	background: #ccc;
	text-align: center;
}
table.tbl-flight-detail {
	width: 100%;
}
table.tbl-flight-detail tr td {
	border-bottom: 1px solid #D8CD44;
	margin-bottom: 5px;
	padding: 5px;
}
table.tbl-flight-detail tr td.stop {
	background-color: #D8CD44;
	text-align: center;
}
div#contentmain {
	display: block;
	margin: 0px 15px 0px 0px;
	overflow: hidden;
	position: relative;
	width: 940px;
	z-index: 9;
}
 
div#contentmain .pad .left {
	float: left;
	min-height: 550px;
	overflow: hidden;
	width: 525px;
}
div#contentmain .pad .left .hotdeal {
/*	height: 224px;*/
	width: 525px;
}
div#contentmain .pad .left .hotdeal h1 {
	background: url(../img/line-2.png) right bottom no-repeat;
	height: 35px;
	margin-bottom: 4px;
	margin-top: 7px;
	width: 100%;
}
.fly {
    background-color: rgba(254, 234, 0, 0.6) !important;
}
.detail-holder .title-info {
	background: #e51f20;
	border-top-left-radius: 8px;
	color: #fff;
	font-size: 20px;
	line-height: 41px;
	text-align: center;
}
.detail-holder .way-holder {
	line-height: 20px;
	padding: 10px;
}
.detail-holder .way-holder .way {
  color: #e51f20;
  font-size: 13px;
  font-weight: bold;
  margin: 10px 0;
}
.detail-holder .way-holder h5 {
	color: #f00;
	font-weight: bold;
}
.detail-holder #subtotal {
  color: #e51f20;
  font-size: 13px;
  font-weight: bold;
  padding: 10px;
}
.detail-holder #subtotal #total-price {
	color: #333;
	font-size: 16px;
}
.head-title1 {
  color: #fe5815;
  font-family: GraublauWeb;
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
}

.search-result {
  /* font-family: GraublauWeb; */
  font-family: Arial,Helvetica,sans-serif;
}


.head-title1 a {
	color: #FE5815;
}
.head-title1 a:hover,.head-title1 a:focus {
	color: #77;
}
.head-title3 {
  color: #fe5815;
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 15px;
}
.head-title3 a {
  color: #fe5815;
  text-transform: uppercase;
}
.head-title3 a:hover,.head-title3 a:focus {
	color: #777;
}
.head-title2 {
  color: #e52620;
  font-size: 14px;
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
}
.customer-information{
  
}
.customer-information .addition-bag {
	display: none;
}
.review .total {
	margin: 15px 0;
}
.review .info {
	margin-bottom: 20px;
}
.review .total-price {
	border: 2px dashed #00AA00;
	color: #008900;
	font-size: 24px;
	font-weight: bold;
	margin: 15px 0;
	padding: 15px 0;
	text-align: center;
}
.review #payment-method {
	margin-bottom: 15px;
}
.review #payment-method .summary {
	height: auto;
	overflow: none;
}
.review #payment-method h3>.icon {
	background: url(../img/circle_green.png) no-repeat;
	background-size: 16px;
	display: block;
	float: right;
	height: 16px;
	width: 16px;
}
.review #payment-method h3.ui-state-active>.icon {
	background: url(../img/accepted_48.png) no-repeat;
	background-size: 16px;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
}
.hidden {
	display: none;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}
.text-danger {
	color: #e66;
}
.pull-right {
	float: right;
}
.common-button2 {
  /*background: rgba(0, 0, 0, 0) -moz-linear-gradient(center bottom , #fa5614 0px, #fe8858 100%) repeat scroll 0 0;
  */ 
    background: #fa5614; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fa5614, #fe8858); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fa5614, #fe8858); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fa5614, #fe8858); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fa5614, #fe8858); /* Standard syntax */
	
	
  border: 0 none;
  border-radius: 3px;
  color: #ffffff;
  float: right;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 5px 15px;
  text-transform: uppercase;
 
  cursor: pointer; 
}
.form-box{
  width: 950px;
  height: 100%;
  position: relative;
  margin: 10% auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}







 

